.kanko{
    color: black;
    text-decoration: none;
}

.writer{
    color: black;
    text-decoration: none;
}

.kankoti{
    color: black;
    text-decoration: none;
}

.men{
    color: black;
    text-decoration: none;
}

.cyomei{
    color: black;
    text-decoration: none;
}

.movie{
    color: black;
    text-decoration: none;
}

head{
    font-family: "MS P明朝", serif;
}
body{
    background-image: url(img/背景.webp);
    font-family: "MS P明朝", serif;
}
.page {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#title{
    margin-top: 50px;
    text-align: center;
    font-size: 130px;
    margin-bottom: 100px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 85px;
    margin: auto;
    background-color: #D5FB85;
}
.title h2{
    font-size: 32px;
    text-align: center;
}
.item{
    display: flex;
    justify-content: center;
    padding: 50px 0 150px 0;
}
.img{
    width: 700px;
    height: 400px;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.text p{
    width: 350px;
    height: 400px;
    /* background-color: #D5FB85;
    padding: 10px; */
    font-size: 20px;
}